include README.md
include DATA_README.md
include CHANGELOG.md
include CITATION.cff
include LICENSE.txt
recursive-include privateassets *.py
prune data
prune outputs
prune projects
global-exclude *.py[cod]
global-exclude __pycache__
